body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(main-bg.jpg);
    background-size: 20%;
}

.part1 {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    position: relative;
    padding-bottom: 5%;
}
.pic-promotion{position: absolute; right:30%; top: 30%;z-index: 1;}
.part2 {
    width: 90%;
    background-color: #163d53;
    text-align: center;
    padding: 5%;
}

.part3 {
    width: 90%;
 
    padding: 5%;
    background-color: #fff;
}
.inside-left{width: 40%; float: left; }
.inside-left h3{margin: 0;}
.inside-right{width: 50%;height: 300px;  float: RIGHT; background-color: #ebebeb; position: relative;}
.img{width:150px; height: 150px; border-radius: 100px;position: absolute; top: 20%;}
.quote{position: absolute; bottom: 35%; left: 15%;}
.inside-right p{width: 60%; position: absolute; right: 9%; top: 15%;}
.text{position: absolute; right: 25%; top: 65%;}
.largetext{font-size: 36px; font-weight: bold;}

.part3{
    list-style-image: url(tick.png); 
}
.part4 {
    width: 90%;
    background-color: #c0e2ff;
    padding: 5%;
    overflow: hidden;
    
}

.part5 {
    padding: 5%;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    flex-wrap: wrap;
}
.small-container{width: 45%;background-color: aqua; margin: auto; display: flex; flex-direction: row; padding: 1%;}
.small-container div{flex-grow: 1; text-align: center; padding: 1%;}
.bgred{background-color: red;}
.cell{flex-grow: 1; padding: 2%; text-align: center;}
.part5 h1, p, h3{margin: 0;}
.part5 span {font-size: 48px; font-weight: bold;}

.bluetext {
    color: #2fa7eb;
}

.highlight {
    background-color: #6e92dc;
    color: white;
    padding: 10px;
}

h2 {
    margin: 0;
}

.part2 h2 {
    color: #2fa7eb;
}

.part2 p {
    color: white;
    width: 90%;
    margin: auto;
}

.part3 h3 {
    color: #2fb7ee;
    
}

.red {
    color: RED !important;
}

.mrgT60 {
    margin-top: 60px;
}

.form {
    width: 280px;
    height: 400px;
    background-color: #fff;
    position: absolute;
    right: 5%;
    top: 10%;
    border-radius: 50px 0 50px 0;
    text-align: center;
    padding: 10px;
    box-shadow: 5px 0 0 rgb(190, 190, 190);
}
.form h4 {
    margin: 0;

}
.input  {
    width: 86%;
    border-radius: 15px;
    padding-left: 12%;
    padding-right: 2%;
    padding-top: 3%;
    padding-bottom: 3%;
    border: none;
    background-color: #ebebeb;
    margin-bottom: 10px;
    background-repeat:no-repeat;
    background-position: 5px 0;
    background-position-y: center;
    

}
.widthfull{width: 100%;}
.icon1  {
    background-image: url(icon1.jpg); 
}

.icon2  {
    background-image: url(icon2.jpg);
}
.icon3  {
    background-image: url(icon3.jpg);
}
.icon4  {
    background-image: url(icon4.jpg);
}
.icon5  {
    background-image: url(icon5.jpg);
}
.icon6  {
    background-image: url(icon6.jpg);
}
.icon7  {
    background-image: url(icon7.jpg);
}
.submit{background-color: #2fa7eb; color: white; border-radius:15px; padding: 2%; width: 96%; border: none; font-size: 16px; box-shadow: 0 5px 6px #c8ebff; cursor:pointer;}
.video{width: 100%;  background-color: #6e92dc;}
video{width: 100%;}
.relative{position: relative;}
.triangle_position{position: absolute; left: -10%;}
.bggreen{background-color: rgb(22, 221, 52);}
.green{color:  rgb(22, 221, 52);}


/* Extra small devices (phones, 600px and down) */






